.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 920px;
    height: 182px;
    background-color: var(--light);
    margin: 0 auto;
    gap: 20px;
}

.footer-icons{
    display: flex;
    align-items: center;
    gap: 35px;
    font-size: 32px;
    color: var(--dark);
}

@media (max-width: 762px){
    .footer{
        width: 100%;
    }
    .copyright{
        text-align: center;
    }
}